.reveal:before {
  content: '';
  position: fixed;
  top: 2%;
  right: 2%;
  height: 15%; 
  width: 15%;
  background-image: url('LMU_Logo.svg');
  background-size: contain;
  background-repeat: no-repeat; 
  z-index: 1000;
}

.reveal .footer {
  font-size: 0.25em !important;
  text-align: left !important;
  display: block;
  position: fixed;
  left: 50px;
  right: 90px;
}

.reveal .slides {
  justify-content: flex-start !important; 
  text-align: left !important; 
  padding-left: 20px !important;
  display: block;
}

.reveal .slides section {
  padding-left: 0 !important; 
  padding-right: 10px !important;
  text-align: left !important;
}

.reveal .slides table {
  margin-left: 0 !important; 
  margin-right: auto !important; 
  text-align: left !important;
  width: auto !important; 
}

td {
  text-align: center;
}

.wide-table {
    width: 150%;  
}

.wide-table img {
    width: 150%;
    max-width: 700px;  
}

.left-aligned-table {
    text-align: left; 
    width: auto;  
}

.left-aligned-table table {
    margin-left: 0; 
    width: auto; 
}


.slide-number, .reveal.has-logo .slide-number {
  bottom: 14px !important;
  right: 50px !important;
  top: unset !important;
  color: #777777 !important;
}


.reveal .slides section .fragment.semi-fade-out {
  opacity: 1;
  visibility: inherit;
}

.reveal .slides section .fragment.semi-fade-out.visible {
  opacity: 0.25;
  visibility: inherit;
}

.reveal .slides h1 {
  text-align: left; 
  margin-left: 0;
  padding-left: 0;
}

.quarto-title-author-name {
  font-size: 30px; 
  text-align: left !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
  max-width: 80%; 
  display: block !important; 
}

.quarto-title-institute-name {
  font-size: 10px; 
  text-align: left !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
  max-width: 80%; 
  display: block !important; 
}

.quarto-title-subtitle-name {
  font-size: 30px; 
  text-align: center !important;
  max-width: 80%;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.custom-smaller {
  font-size: 0.5em;
}

.custom-smaller2 {
  font-size: 0.75em;
}

.logo {
  position: fixed;
  top: 2%;
  right: 2%;
  height: 5%; 
  width: auto;
  z-index: 1000;
}
